
:root{
    --bc-text-color-1:#ffffff;
    --bc-text-color-2:#2CE97A;
    --bc-text-color-3:#04060C;
    --bc-bg-color-1:#2CE97A;
    --bc-bg-color-2:#C8F31D;
    --bc-background-color-1: linear-gradient(145deg, #1e2024, #23272b);
    --bc-bg-black-1:#212428;
    --bc-bg-black-2:#010A10;
    --bc-color-lightn:#c4cfde;
    --bc-gradient-color-1:linear-gradient(90deg, var(--bc-bg-color-1) 0%, var(--bc-bg-color-2) 100%);
    --bc-stroke-gr: linear-gradient(90deg, #2CE97A, #C8F31D);
    --bc-full: linear-gradient(white, white);
    --bc-shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --Bg-linear-2: linear-gradient(123.51deg, rgba(215, 237, 237, 0.1) -61.8%, rgba(204, 235, 235, 0.01) 100%);
    --bc-color-dark-one: #151515;
    --bc-color-dark-two: #171717;
    --bc-color-dark-four: #1E1E1E;
    --bc-color-dark-five: #2C2C2C;
}