/*----------------------------------------*/
/*  2.5 Custom Cursor
/*----------------------------------------*/
.mouseCursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 50%;
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
    text-align: center;
}

.cursor-outer {
    margin-left: -18px;
    margin-top: -18px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid var(--bc-text-color-2);
    box-sizing: border-box;
    z-index: 10000000;
    opacity: 0.5;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.cursor-inner {
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    z-index: 10000001;
    background: var(--bc-text-color-2);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner span {
    color: var(--bc-text-color-1);
    line-height: 80px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}