@use '../utils' as *;

/*----------------------------------------*/
/*  2.8 Section Title
/*----------------------------------------*/
.bc-section{
    &-title-wrapper{
        & p{
            font-weight: 400;
            font-size: var(--bc-fs-section-lead);
            line-height: var(--bc-lh-section-lead);
            color: var(--bc-color-lightn);
        }
    }
    &-title{
        font-weight: 700;
        font-size: var(--bc-fs-section-title);
        line-height: var(--bc-lh-heading);
        margin-bottom: 15px;
        color: var(--bc-heading-color);

        @media #{$lg,$md,$sm,$xs}{
            font-size: var(--bc-fs-section-title-down);
        }
    }
}

.bc-page-title-wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}