@use '../utils' as *;

/*----------------------------------------*/
/*  1.2 Common Classes
/*----------------------------------------*/

.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}
.bc-body-bg{
	background-color: var(--bc-black-color);
}
.bc-nblue-bg{
	background-color: var(--bc-nblue-color);
}
.bc-cyan-bg{
	background-color: var(--bc-theme-color);
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

.bc-r-50{
	border-radius: 50px;
}

.bc-gradient-text-color{
	background: var(--bc-gradient-color-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bc-section-bg{
	background-color: var(--bc-color-dark-two)
}

.br-20 {
    border-radius: 20px;
	& > img, & > a img {
		border-radius: 20px;
	}
}

.bc-fs-40 {
    font-size: var(--bc-fs-6xl);
    line-height: var(--bc-lh-heading);
}





